# Node.js dependencies
/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#Secret
.env

# IDE and OS files
/.vscode
.idea
.DS_Store
Thumbs.db

# Temporary files
/.eslintcache

# Coverage reports
/coverage